*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wave{
    width: 100%;
    opacity: 0.1;
    transform: scale(-1);
}

.wave1{
    width: 100%;
    opacity: 0.1;
    transform: scalex(-1);
    display: flex;
}

/* INIZIO HEADER */
.container{
    background-image: url(../img/jumbo.png);
    padding: 10px;
    background-color: #add8e6;
    padding-top : 20px;
    background-size: cover;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.primo-col-sezione .terzo-col-sezione{
    width: 30%; 
}

.secondo-col-sezione{
    width: 40%; 
}


.link-header{
    display: inline;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.button-header{
    padding: 5px;
    border-radius: 50px;
    border: none;
}

h1, .p-header{
    text-align: center;
    color: white;
}

h1{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.p-header{
    margin: 0 20% 0 20%;
}

.button-white, .button-black{
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    margin-bottom: 100px;
}

.button-white{
    margin-left: 38%;
}

#arrow{
    font-size: 17px;
}

.button-black{
    background-color: #23272a;
    color: white;
    padding: 8px;
    margin-left: 10px;
}

/* FINE HEADER */

/* INIZIO PRIMA SEZIONE */
.container1{
    padding: 15px;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.primo-col-sezione-1{
    display: flex;
}

.secondo-col-sezione-1{
    display: flex;
}

.text-sezione-1{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.text-h2, .text-p{
    margin-left: 150px;
    margin-right: 150px;
}

.text-h2{
    font-size: 35px;
}

.text-p{
    margin-top: 20px;
}


/* FINE PRIMA SEZIONE */

/* INIZIO SECONDA E QUARTA SEZIONE */
.container2{
    padding: 15px;
    background-color: rgb(228, 228, 228);
}

.row2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.primo-col-sezione-2-4{
    display: flex;
}

.secondo-col-sezione-2-4{
    display: flex;
}


/* FINE SECONDA E QUARTA SEZIONE */

/* INIZIO TERZA SEZIONE */
.container3{
    padding: 15px;
    width: 100%;
}

.row3{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.seconda-col-sezione-3{
    width: 100%;
    margin-top: 150px;
}


/* FINE TERZA SEZIONE */

/* INIZIO QUARTA SEZIONE */
.container4{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: rgb(228, 228, 228);
    background-size: contain;
}

.primo-col-sezione-4{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row4{
    width: 100%;
    display: flex;
    text-align: center;
}

.mac{
    margin-left: 550px;
    margin-right: 530px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    padding: 10px;
    border: none;
    background-color: rgb(99, 99, 234);
    color: white;
    border-radius: 50px;
    text-align: center;
}

.arrow2{
    font-size: 15px;
    margin-right: 10px;
}

/* FINE QUARTA SEZIONE */

/* INIZIO FOOTER */

/* INIZIO SESTA SEZIONE */

footer{
    background-color: #23272a;
}

.container6{
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.h2-footer{
    color: rgb(99, 99, 234);
}

.italiano{
    height: 100%;
    margin-left: 3px;
    color: white;
    font-size: 10px;
}

.arrow1{
    font-size: 5px;
}

.ita{
    display: inline-block;
    margin: 15px 0 15px 0;
    width: 20px;
    vertical-align: middle;
    height: 100%;
}

ul{
    list-style-type: none;
    display: inline-block;
    color: white;
}

li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 13px;
}

.row5{
    display: flex;
    justify-content: space-between;
    width: 60%;
}


.primo-col-sezione-6{
    width: 28%;
}

.cols3{
    width: calc(68% / 4);
    display: flex;
    flex-direction: column;
}

.title-li{
    color: rgb(99, 99, 234);
    display: flex;
    flex-direction: column;
}

/* FINE SESTA SEZIONE */

.container7{
    padding-top: 10px;
    background-color: #23272a;
    padding-bottom: 100px;
}

.row6{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.primo-col-sezione-7{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
}

hr{
    margin: 20px 200px 0 200px;
    border-color: rgb(99, 99, 234);
}

.button-footer{
    background-color: rgb(99, 99, 234);
    color: white;
    padding: 3px 5px 5px 3px;
    border-radius: 50px;
    border: none;
}
/* FINE FOOTER */
